<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Albums</title>
        <link rel="stylesheet" href="../public/style.css"> 
    </head>
    <body>
        
        <h3>Mes Albums</h3>

        <ul>
            <% albums.forEach(function(instru){ %>
                <li><h4><%= instru.value.name %></h4>
                    <ul>
                        <li>artist: <%= instru.value.artist %></li>
                        <li>genre: <%= instru.value.genre %></li>
                        <li>Price: <%= instru.value.price %></li>
                    </ul>
                </li>
                <br>
                <form action="/album/delete<%= instru.key%>" method="post">
                    <input type="hidden" value="<%= instru.value.rev %>" name="rev">
                    <input type="submit" value="Supprimer">
                </form>
                <form action="/album/update<%= instru.key%>" method="post">
                    <select name="att" id="list" value="attribut">
                        <option value="artist" name="artist">artist</option>
                        <option value="genre"  name="genre">genre</option>
                        <option value="price" name="price">price</option>
                    </select>
                    <input type="text" value="Nouvel valeur" name="newVal">
                    <input type="hidden" value="<%= instru.value.rev %>" name="rev">
                    <input type="submit" value="modifier">
                </form>
                
            <% }); %>
        </ul>


        <form action="/album/add" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="artist" placeholder="artist">
            <input type="text" name="genre" placeholder="genre">
            <input type="text" name="price" placeholder="Price">
            <input type="submit" value="Ajouter">
        </form>
    </body>
</html>
